{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        {% for item in items %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img height="100" width="100" src="{{ MEDIA_URL }}{{ item.product.image }}"
                         alt="image of the product">
                    <div class="caption">
                        <h3>{{ item.product.name }}</h3>
                        <p>{{ item.product.description }}</p>
                        <p>{{ item.product.price }}</p>
                        <p>
                            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-warning">Remove!</a>

                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="alert alert-success" role="alert">Total: {{ total }}</div>


    <hr>

    <form role="form" method="post" id="payment-form" action="{% url 'cart' %}">
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <legend>Pay Now!</legend>

        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>

{% endblock %}